{{yield}}

<div class="col-xs-6 col-xs-offset-3">
  <h2>Add Inventory</h2>
  <div class="well">
    <form>
      <div class="container">
        <span class="label label-primary">Invenory Name</span>
        <div class="row" style="margin-left:0px;margin-top:3px;">
          {{input type="text" size="42" id="name" value=name}}
        </div>
      </div>
      <div class="container">
        <span class="label label-primary">Invenory cost</span>
        <div class="row" style="margin-left:0px;margin-top:3px;">
          {{input type="number" min="3" id="cost" value=cost}}
        </div>
      </div>
      <div class="container">
        <span class="label label-primary">Invenory Image</span>
        <div class="row" style="margin-left:0px;margin-top:3px;">
          {{input type="text" min="42" id="image" value=image}}
        </div>
      </div>
      <div class="container">
        <div class="row" style="margin-left:424px">
          <button type="button" class="btn btn-primary" name="button"{{action 'saveInventory'}}>Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
