{{yield}}

<div class="col-xs-4">
  <div class="well" style="margin-top:2em;">
    <h2>{{inventory.name}}</h2><h3> <span class="label label-default">${{inventory.cost}}.00</span></h3>
    <img src="{{inventory.img}}" alt="" height="300px" style="border:5px solid black;"/>
    <a {{action 'addToCart' inventory}} href="#" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
    </a>
  </div>
</div>
